input[type=radio].point {
  display: none;

  & + label {
    margin-left: 2em;
    position: relative;

    &:before {
      $size: 10px;
      $marg: 5px;
      position: absolute;
      content: '';
      border-radius: 100%;
      background-color: transparent;
      border: 1px solid #2c3e50;
      box-sizing: border-box;
      height: $size;
      width: $size;
      top: 0;
      bottom: 0;
      left: -$size - $marg;
      margin: auto;
      transition: border-radius 0.12s ease-out;
    }
  }

  &:checked + label {

    &:before {
      background-color: #2c3e50;
      border-radius: 30%;
    }
  }
}